.themeOption {
    background: #fff;
    padding: 20px;
    max-width: 900px;
    box-shadow: 3px 3px 0.5em #999;
    display: block;
    overflow: hidden;
}
.topbar.logotop {
    display: block;
    overflow: hidden;
    width: 100%;
}
.leftManu {
    max-width: 200px;
    float: left;
    width:180px;
}
.topbar.logotop img {
    width: 50px;
    margin: 0 auto;
    display: block;
}
.Logotitle h3 {
    margin: 0;
    text-align: center;
    font-size: 18px;
}
.Logotitle span.themeoption_powerBy {
    color: #999;
    text-align: center;
    width: 100%;
    font-size: 10px;
    display: block;
}
.ThOleftMenuItem li a {
    background: #555;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.2);
}
.ThOleftMenuItem li {
    margin: 0;
}
.ThOleftMenuItem li:first-child a{
    border-top:none;
}
.ThOleftMenuItem li:last-child a{
    border-bottom: none;
}
.ThOleftMenuItem li a:hover,
.ThOleftMenuItem li.active a
{
    background: #72777c;
}
.themeOptionBody {
    display: block;
    overflow: hidden;
}
.topbar.bodytop {
    background: #444;
    color: #fff;
    padding: 0px 19px;  
    border-radius: 15px 15px 0 0;
    border-bottom: 3px solid rgba(230, 12, 12, 0.62);
    display: block;
    overflow: hidden;
}
.topbar.bodytop h3 {
    color: #fff;
    font-size: 25px;
    float: left;
    display: block;
    overflow: hidden;
    line-height: 97px;
    margin: 0;
}
.topbar.bodytop p.submit {
    float: right;
    overflow: hidden;
    display: block;
    margin-top:25px;
}
.sectionPart h4 {
    display: inherit;
}
.sectionPart div.partRight {
    float: left;
    min-width: 311px;
    width: 540px;
    overflow: hidden;
}
div.ThOMainBody {
    padding: 15px;
}
.imgPreview {
    max-width: 100%;
    overflow: hidden;
    float: right;
    width: 100%;
}
.imgPreview img {
    max-width: 200px;
    float: right;
    padding-top: 5px;
    margin: 0 auto;
    display: block;
}
.sectionPart input[type="text"] {
    min-width: 320px;
    width: 435px;
    margin-right: 10px;
}
.imgPreview span, .instruction span {
    color: #888;
    font-size: 10px;
}
.sectionbody .sectionPart {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}
.sectionbody .sectionPart:last-child {
    border-bottom: none;
}
.sectionhead h3 {
    background: #607D8B;
    padding: 10px;
    color: #555;
    color: #fff;
}
a.checkbox-status {
    color: rgba(0,0,0,0);
    background: url('../img/checkbox.png');
    background-repeat: no-repeat;
    overflow: visible;
    line-height: 22px;
    display: block;
    background-position: left bottom;
    float: left;
}
a.checkbox-status.active{
    background-position: left top;
}
a.checkbox-status:focus {
    border: none;
    box-shadow: none;
}
.sectionPart textarea {
    width: 100%;
    height: 100px;
}
a.radio-status{
    color: rgba(0,0,0,0);
    background-repeat: no-repeat !important;
    overflow: visible;
    line-height: 40px;
    display: block;
    background-position: left top !important;
    float: left;
    width: 40px;  
    margin-right: 20px;
}
a.radio-status.active{
    background-position: left bottom !important;
}
a.radio-status.left{
 background: url('../img/left.png');   
}
a.radio-status.right{
 background: url('../img/right.png');   
}
a.radio-status.sidebar.left{
 background-image: url('../img/layout_left.png');   
}
a.radio-status.sidebar.right{
 background-image: url('../img/layout_right.png');   
}
a.radio-status.sidebar.no{
 background-image: url('../img/full-width.jpg');   
}
.partRight.selectSidebar {
    margin-top: 10px;
}
.select_wrapper {
  background: #72777c url("../img/arrow.png") no-repeat top 15px right 12px;
  line-height: 36px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  color:#fff;
}

.select_wrapper:hover { background: #72777c url("../img/arrow.png") no-repeat top 15px right 12px; }

.select_wrapper span {
  display: block;
  margin: 0 30px 0 15px;
}

.select_wrapper .select_inner {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: #687278;
  display: none;
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  z-index: 3;
}

.select_wrapper .select_inner li {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    margin: 0;
    line-height: 25px;
}

.select_wrapper .select_inner li:hover { background: #eee; }

.select_wrapper .select_inner li:last-child {
  border: none;
  border-radius: 0 0 5px 5px;
}

.select_wrapper .select_inner li:first-child { border-radius: 5px 5px 0 0; }
.select_wrapper span {
    width: 100% !important;
}
.select_wrapper {
    max-width: 350px;
    float: left;
    width:250px;
}
.partRight.selectSidebar label {
    margin-bottom: 10px;
    float: left;
    margin-right: 20px;
}

.sectionPart.DropDown 
{
    min-height: 80px;
}






/* Admin Panel Page */
div#adminmenuwrap ul li img {
    max-width: 18px;
}
div#ch_theme_panel {
    max-width: 1000px;
    background: #fff;
    padding: 10px;
    box-shadow: 3px 4px 8.5px #999;
}
div#ch_theme_panel .left {
    width: 150px;
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
}
.section_setting_field ul li {
    display: block;
    border: 1px solid #eee;
    box-shadow: 3px 2px 1.5px #999;
    -moz-box-shadow: 3px 2px 1.5px #999;
    -webkit-box-shadow: 3px 2px 1.5px #999;
    -o-box-shadow: 3px 2px 1.5px #999;
    border-radius: 3px;
    max-width: 99.5%;
    overflow: hidden;
}
li.section-item.item_head .open {
    background: #444;
}
li.section-item.section_head .open {
    background: #607D8B;
}
li.section-item .open {
    line-height: 38px;
    padding: 0px 10px;
    color:#fff;
}
.button_section {
    float: right;
    padding: 5px;
    position: absolute;
    right: 0;
    top:0;
}
.button_section a span {
    line-height: 27px;
}

.section_setting_field ul li.section-item{
	position: relative;
}
.section_setting_field ul li.section-item.item_head{
    border-color: #444;
}
.button_section a.button {
    background: #0073aa;
    border: none;
    box-shadow: none;
    color: #fff;
}
.body_left {
    float: left;
    width: 550px;
}
.single_body_item {
    padding: 10px;
}
.single_body_item input {
    width: 95%;
    border-radius: 1px;
}
.theme_setting_body {
    display: none;
}
div#ch_theme_panel .right {
    overflow: hidden;
}
.button_section.j_button a:first-child {
    margin-right: 5px;
}
li.section_setting .open {
    background: #795548;
}
li.section_setting{
	border-color:#795548;
}
.part_left {
    display: block;
    width: 150px;
    float: left;
}
.partRight button {
    float: right;
}
.partRight span {
    display: block;
    line-height: 20px;
    margin-top: 10px;
    text-transform: capitalize;
    font-size:11px;
}
.sectionhead h3 {
    text-transform: capitalize;
}
.imgPreview .img {
    display: inline;
}