.bg-ofwhite{
 	background:#D9F2FF;   
}
.topinnershadow .save {
    background-image: url('../img/bg-secondmenubar.png');
    display: block;
    overflow: hidden;
    background-repeat: repeat-x;
}




