/*
* Margin & Padding
*/


.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}


/* Margin Bottom */
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}
.mb55{margin-bottom:55px;}
.mb60{margin-bottom:60px;}

/* Padding Top */
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt55{padding-top:55px;}
.pt60{padding-top:60px;}

a:hover{
	text-decoration: none;
}
section.head {
    background: #F5F5F5;
    overflow: hidden;
    max-height: 70px;
    box-shadow: inset 0 0 0.5em #aaa;
}
.single_tab_item {
    height: 40px;
    display: block;
    overflow: hidden;
    float: left;
    width: 108px;
    background-repeat: no-repeat;
}
section.head div.pull-left{
	position:relative;
}
.mt25px{
	margin-top:25px;
}
.single_tab_item a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.hotline h3 {
    background: #c2292f;
    margin: 0;
    padding: 18px 25px;
    color: #fff;
    cursor: pointer;
}
.hotline b {
    display: none;
}

/*
* Top Menu
*/
ul#menu-main-menu > li > ul.sub-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 65px;
    width: 400px;
}
ul#menu-main-menu > li {
    display: inline-block;
    position: relative;
}
ul#menu-main-menu {
    margin: 0;
    padding-left:0;
}
ul#menu-main-menu > li > ul.sub-menu a {
    color: #fff;
    text-transform: capitalize;
    padding: 10px;
    line-height: 15px;
}
ul#menu-main-menu > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    line-height: 25px;
    font-weight: 600;
    /* border-right: 1px solid rgba(0,0,0,0.5); */
    border-left: 1px solid rgba(255,255,255,0.5);
    /* margin: -2.5px; */
}
ul#menu-main-menu > li:first-child a{
	border-left:none;
}

section.top_menu{
    background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.15)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ffffff', endColorstr='#00ffffff', GradientType=0 );
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    text-transform: uppercase;
    font-weight: bold;
}
ul#menu-main-menu > li > ul > li {
    width: 50%;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
ul#menu-main-menu > li ul {
    list-style: none;
    padding: 0;
}
ul#menu-main-menu > li > ul > li > a {
    background: rgba(8, 8, 8, 0.7);
    display: block;
    line-height: 15px;
}

ul#menu-main-menu a {
    display: block;
}
ul#menu-main-menu a:hover {
    background: rgba(0,0,0,0.5);
}
.searchform {
    background-image: url('../img/searchbox-end.png');
    background-repeat: no-repeat;
    background-position: right 0;
}
.searchform form {
    padding: 6px;
    background-color: #FA8E41;
}
form#searchform input[type="text"] {
    padding: 13.5px;
    height: 30px;
    width: 300px;
    margin-left:15px;
    margin:2px;
}	
input#searchsubmit {
    background: #649CBA;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    /* padding: 2px; */
    vertical-align: middle;
    height: 30px;
    margin-left: 15px;
}
form#searchform label {
    color: #fff;
    font-size: 15px;
}

.pdr0{
    padding-right:0px;
}
.pdl0{
    padding-left:0px;
}
.banner_img img {
    width: 100%;
}
ul.custom-list-group li {
    list-style: none;
}
ul.custom-list-group li {
    list-style: none;
    border-bottom: 1px solid #eee;
    line-height: 25px;
}
ul.custom-list-group li a {
    display: block;
}
.singleItem {
    border-right: 1px dashed #ccc;
    border-top: 3px double #ccc;
}
.s_box .singleItem:first-child {
    border-left: 1px dashed #ccc;
}
.singleItem .img {
    min-height: 150px;
}
.s_box {
    overflow: hidden;
    width: 100%;
}
.productList {
    border-right: 1px dashed #ccc;
}
.s_box .productList:first-child {
    border-left: 1px dashed #ccc;
}
aside.sidebar h4 {
    border-bottom: 3px solid #bbb;
    margin-top:0px;
    padding-bottom: 3px;
}
ul.sidebar_cat.home > li > a {
    font-size: 15px;
    font-weight: 600;
}
ul.sidebar_cat, ul.sidebar_cat ul {
    list-style: none;
    padding: 0;
}
ul.sidebar_cat ul {
    margin-bottom: 15px;
}
ul.sidebar_cat ul li,
ul.sidebar_cat.inner_page li {
    border-bottom: 1px solid #ccc;
}
ul.sidebar_cat li a {
    display: block;
    line-height: 20px;
}
a:hover {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.footerMenu ul li {
    display: inline-block;
}
.footerMenu ul {
    padding:0;
    margin:0;
}
.footerMenu li a {
    padding: 5px 15px;
    border-right: 1px solid #aaa;
}
.footerMenu li:last-child a{
    border-right: 0px solid #ddd;
}
.footerotherBrand ul li img {
    padding: 20px 20px;
}
.footerCopyRight {
    color: #666;
    font-size: 12px;
    padding: 10px 0px 20px 0px;
}
.toptabs .single_tab_item:hover {
    background-position-y: 51px !important;
     transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.toptabs .single_tab_item:first-child {
    background-position-y: 51px !important;
}
.banner img {
    min-width: 100%;
    padding: 20px 0;
}
aside.sidebar li {
    width: 100%;
}

h3.page_title_widget {
    background-size: 100% 100%;
    padding: 8px;
    color: #fff;
}
hr.gray{
    border-color:#ccc;
}
.productList img {
    display: block;
    margin: 0 auto;
}
.text-danger {
    color: #c01300;
}
.productList a {
    line-height: 16px;
}
.read_more{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0ca0e+0,a9c20f+36,8ea914+61,88a02b+100 */
/*background: #b0ca0e; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.15) 0%,rgba(0, 0, 0, 0.18) 36%,rgba(0, 0, 0, 0.26) 61%,rgba(255,255,255,0.15) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(0, 0, 0, 0.18) 36%,rgba(0, 0, 0, 0.26) 61%,rgba(255,255,255,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%,rgba(0, 0, 0, 0.18) 36%,rgba(0, 0, 0, 0.26) 61%,rgba(255,255,255,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255,0.15)', endColorstr='rgba(255,255,255,0.15)',GradientType=0 ); /* IE6-9 */
border-color: rgba(0,0,0,0);
}
.read_more:focus{
    border-color: rgba(0,0,0,0);
}

a.read_more {
    width: 100px;
    font-weight: bold;
}
.productList p.info {
    font-size: 10px;
}
.product_listing_grid {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 30px;
}
.productList .img {
    min-height: 150px;
}
.productList .singleProTitle {
    min-height: 45px;
}

/*Magnafier CSS */

.magnify img {
    margin: 0 auto;
    display: block;
    min-height: 200px;
    width: auto;
}
.text-normal {
    color: #000;
}
.thin {
    font-weight: 100 !important;
}
.color-orange {
    color: darkorange;
}
.singlealsoLike img {
    max-width: 100%;
    height: auto;
}
.singlealsoLike img {
    /* max-width: 100%; */
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    display: block;
    /* overflow: hidden; */
}
.singlealsoLike .thumb {
    height: 170px;
    overflow: hidden;
    display: block;
    position: relative;
}
.singleShippinDiv {
    border-left: 1px solid #ddd;
}
.alsoLike h3 {
    border-bottom: 3px double #ddd;
    padding-bottom: 5px;
}
.singlealsoLike .title {
    height: 45px;
}
ul#menu-main-menu > li > ul.sub-menu {
    display: block;
    z-index: 1;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
ul#menu-main-menu > li:hover ul.sub-menu{
    top:45px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;   
    opacity: 1;
    height: auto;
    overflow: visible;
}
